<div id="<%= dom_id pst %>">
  <p>
    <strong>Title:</strong>
    <%= pst.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= pst.body %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= pst.published %>
  </p>

</div>
